# Repository folders only for dev use
/data_assembly

# Mac files
.DS_Store
*./DS_Store

# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron
.env

# pkgdown site
docs/

# translation temp files
po/*~

# RStudio Connect folder
rsconnect/

# Tabular data files
*.[Cc][Ss][Vv]
*.[Cc][Ss][Vv].[Gg][Zz]

# Image files
*.[Aa][Vv][Ii][Ff]
*.[Bb][Mm][Pp]
*.[Gg][Ii][Ff]
*.[Hh][Ee][Ii][Cc]
*.[Ii][Cc][Oo]
*.[Jj][Pp][Gg]
*.[Jj][Pp][Ee][Gg]
*.[Pp][Nn][Gg]
*.[Ss][Vv][Gg]
*.[Tt][Ii][Ff]
*.[Tt][Ii][Ff][Ff]
*.[Ww][Ee][Bb][Pp]

# Microsoft Excel files
*.[Xx][Ll][Ss]
*.[Xx][Ll][Ss][Bb]
*.[Xx][Ll][Ss][Mm]
*.[Xx][Ll][Ss][Xx]
*.[Xx][Ll][Tt]
*.[Xx][Ll][Tt][Mm]
*.[Xx][Ll][Tt][Xx]

# Microsoft Word files
*.[Dd][Oo][Cc]
*.[Dd][Oo][Cc][Mm]
*.[Dd][Oo][Cc][Xx]
*.[Dd][Oo][Tt]
*.[Dd][Oo][Tt][Mm]
*.[Dd][Oo][Tt][Xx]

